
/* Style for the form container */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for form labels */
form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Style for form inputs */
form input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Style for the button */
form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* src/styles/animations.css */
@keyframes slideInFromBottom {
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.proceed-form-container {
  animation: slideInFromBottom 1.5s ease-out;
}


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    animation: l14 4s infinite;
  }
  .loader::before,
  .loader::after {    
    content: "";
    grid-area: 1/1;
    border: 8px solid;
    border-radius: 50%;
    border-color: red red #0000 #0000;
    mix-blend-mode: darken;
    animation: l14 1s infinite linear;
  }
  .loader::after {
    border-color: #0000 #0000 blue blue;
    animation-direction: reverse;
  }
  @keyframes l14{ 
    100%{transform: rotate(1turn)}
  }